simulation time 	= 1000
time window 		= 4
host 				= localhost
port 				= 9999
simulation speed 	= 1

UUV   {
	name 	= nautilus
	speed 	= 0:4:10
	port	= 8888
}

SENSOR   {
  NAME			= SENSOR1
  RATE      = 10

    DEGRADATION	= 50:100:1
  	DEGRADATION	= 150:200:0.1
}

SENSOR   {
	name 		= SENSOR2
	rate 		= 4
	reliability	= 0.89
}

SENSOR   {
	name 		= SENSOR3
	rate 		= 4
	reliability	= 0.83
}

SENSOR   {
	name 		= SENSOR4
	rate 		= 3
	reliability	= 0.74
}
