simulation time 	= 100
time window 		= 5
host 				= localhost
port 				= 9999
simulation speed 	= 5

UUV   {
	name 	= nautilus
	speed 	= 0:4:10
	port	= 8888
}

SENSOR   {
	name 		= SENSOR1
	rate 		= 5
	reliability	= 1.0
	change = 25:50:1
  	change	= 75:100:4
}

SENSOR   {
	name 		= SENSOR2
	rate 		= 4
	reliability	= 1.0
}

SENSOR   {
	name 		= SENSOR3
	rate 		= 3
	reliability	= 1.0
}

